@model CurrencyData.Models.DataObjects.CurrencyInfo

<div class="container-lg">
    <div class="text-center mb-4">
        <h2>WELCOME to the CurrencyService!</h2>
    </div>    
    <div class="border bg-light text-center pt-2 pb-2">
            <h4>It provides info about current world currencie`s values.</h4>
            <h4>Information you`re going to get is always up to date, unless it`s a weekend.</h4>
    </div>       
    <br />   
    <div class="container"> 
        <div class="mt-2 mb-4 border-bottom">
            <h5>You can choose 1 of 2 options:</h5>
        </div>            
        <div>
            1) <a asp-area="" asp-controller="Currency" asp-action="GetAllData">Click this link to get ALL information on the single page</a>
        </div>
        <br />
        <p>2) Type a <i>short</i> name for the currency you want to get information about</p>
        <p class="text-end"><i>(You can use upper- or lower-case, result will be the same)</i></p>
        <form method="get" asp-controller="Currency" asp-action="GetCurrency">
            <div class="form-floating"> 
               <input type="text" name="key" class="form-control col-4" id="floatingInput" required />
               <label class="control-label" for="floatingInput">Example: USD / usd</label>
               <div>
                    <input type="submit" value="SUBMIT" class="btn btn-success mt-3 mb-2 col-3 float-end" />
               </div>               
            </div>
        </form> 
    </div>       
</div>

