    <div class="text-center mt-10">
        <h2>ABOUT PROJECT</h2>
    </div>
    <br />
    <div class="text-center">
        <h5>All the information about currencies are taken from an API of</h5> 
            <h4><a href="https://cbr.ru/eng/">The Central Bank of Russian Federation.</a></h4>
    </div>
    <br />
    <div class="container-lg border bg-light">
        <p class="pt-2">
            Different sources that are used in this project:            
        </p>
        <p>1) <a href="https://getbootstrap.su/">https://getbootstrap.su/</a></p> 
        
        <p>2) <a href="https://www.datatables.net/">https://www.datatables.net/</a></p>
    </div>
    <br />
    <div class="mt-3 float-end">
         <a asp-controller="Home" asp-action="Index" class="btn btn-secondary text-white">Back to the Main Page</a>
    </div>

